<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/normalize.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <div class="d-flex justify-content-left align-items-center w-100 shadow mb-4">
      <div class="px-3">
          <img src="{{ url_for('static', filename='../static/assets/safe_car.png') }}" alt="Logo" width="50" height="50" class="align-middle">
      </div>
      <div class="display-4 fw-bold text-dark">
        DriveSafe Calculator
      </div>
</div>

  <!-- Print Out All Error Messages At Top Of Page -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash-messages">
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  
  <div class="d-flex justify-content-center">
    <div id="input_fields" class="d-inline-flex flex-column align-items-center w-75 p-2 rounded" style="background-color: var(--bs-tertiary-bg);">
      <div class="text-dark fs-3 mx-auto" style="display: inline-block;">
        Getting Started:
        <span class="lead fs-4">
          Please enter trip details
        </span>
      </div>
      <form action="{{ url_for('ProcessResults') }}" method="post" class="d-flex flex-column justify-content-center align-items-center w-100">
        <div id="2col" class="d-flex flex-row text-start mb-3 w-100">
          <div id="where" class="w-50 d-flex flex-column justify-content-top align-items-center">
            <div class="text-center fs-5 fw-bold">
              Where?
            </div>
            <div class="text-center">
              <span class="fw-semibold">Start Location</span>
              <div class="mb-2 text-start" style="display: grid;">
                  <label for="startLatitude">Start Latitude:</label>
                  <input type="number" id="startLatitude" name="startLatitude" step="any" value="{{ session['start_lat'] if session['start_lat'] is defined else '' }}"  required>
              </div>
              <div class="mb-2 text-start" style="display: grid;">
                  <label for="startLongitude">Start Longitude:</label>
                  <input type="number" id="startLongitude" name="startLongitude" step="any" value="{{ session['start_long'] if session['start_long'] is defined else '' }}"  required>
              </div>
            </div>
            <div class="text-center">
              <span class="fw-semibold">End Location</span>
              <div class="mb-2 text-start" style="display: grid;">
                <label for="endLatitude">End Latitude:</label>
                <input type="number" id="endLatitude" name="endLatitude" step="any" value="{{ session['end_lat'] if session['end_lat'] is defined else '' }}"  required>
              </div>
              <div class="mb-2 text-start" style="display: grid;">
                  <label for="endLongitude">End Longitude:</label>
                  <input type="number" id="endLongitude" name="endLongitude" step="any" value="{{ session['end_long'] if session['end_long'] is defined else '' }}"  required>
              </div>
            </div>
          </div>
          <div id="when" class="w-50 d-flex flex-column justify-content-top align-items-center">
            <div class="text-center fs-5 fw-bold">
              When
            </div>
            <div class="text-center">
              <span class="fw-semibold">Start Time</span>
              <div class="mb-2 text-start" style="display: grid;">
                <label for="month">Month:</label>
                <select id="month" name="month" required>
                    <option value="" disabled selected>Select Month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
              </div>
              <div class="mb-2 text-start" style="display: grid;">
                  <label for="dayOfWeek">Day of Week:</label>
                  <select id="dayOfWeek" name="dayOfWeek" required>
                      <option value="" disabled selected>Select Day of Week</option>
                      <option value="1">Monday</option>
                      <option value="2">Tuesday</option>
                      <option value="3">Wednesday</option>
                      <option value="4">Thursday</option>
                      <option value="5">Friday</option>
                      <option value="6">Saturday</option>
                      <option value="7">Sunday</option>
                  </select>
              </div>
              <div class="mb-2 text-start" style="display: grid;">
                  <label for="time">Time:</label>
                  <input type="time" id="time" name="Time" required>
              </div>
            </div>
          </div>
        </div>
          <button type="submit" class="w-25 rounded">Submit</button>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
